@model IEnumerable<FinalProjectUni.Models.Finance>

@{
    ViewData["Title"] = "Index";
}

<h1>My Loans</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.MyUser)
            Client
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Loan Amount
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ApplicantIncome)
        </th>*@
            <!--<th>-->
                @*@Html.DisplayNameFor(model => model.Loan_Status)*@
                <!--Loan Prediction
            </th>-->
            <th>
                <center>
                @*@Html.DisplayNameFor(model => model.Done)*@
                Process Status
                </center>
            </th>
            <th>
                <center>
                @*@Html.DisplayNameFor(model => model.Loan_Status)*@
                Loan Decision
                </center>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ReleaseDate)*@
                Request Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.MyUser.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.FinanceAmount)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicantIncome)
                    </td>*@
                @*<td style="color:red;">
                    @Html.DisplayFor(modelItem => item.Loan_Status)
                </td>*@
                <td>
                    <center>
                    <label class="checkbox" style="transform: scale(2);">
                        @Html.DisplayFor(modelItem => item.Done)
                    </label>
                    </center>
                </td>
                <td>
                    <center>
                    <label class="checkbox" style="transform: scale(2);">
                    @Html.DisplayFor(modelItem => item.final_decision)
                    </label>
                    </center>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
            </tr>
        }
    </tbody>
</table>

